.main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 100%;
}

.topWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-weight: normal;
}

.createButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
