.main {
  display: flex;
  flex-direction: column;
  padding: 14px;
  height: 100%;
  box-sizing: border-box;
}

.topWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-weight: normal;
}

.createButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
