.profile {
  display: flex;
  flex-direction: column;
  padding: 16px;

  height: 100%;
  box-sizing: border-box;
  margin: 0 auto 0;
}

.topWrapper {
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userName {
  margin-bottom: 10px;
}

.tabsWrapper {
  margin: 40px auto 0;
}

.main {
  flex-grow: 1;
}

.themeButton {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: inherit;
  width: auto;
  cursor: pointer;
}

.topWrapper {
  display: flex;
  flex-direction: row;
}

.heading {
  font-size: 24px;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
}

.logoutButton {
  padding: 4px 20px 4px 20px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid grey;
}
