@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');
@import './reset.scss';
@import './variables/global.scss';
@import './themes/light.scss';
@import './themes/dark.scss';

html,
body,
.app,
#root {
  height: 100%;
}

.app {
  font: var(--font-m);

  background-color: var(--bg-color);
  color: var(--primary-color);
}
