.group {
  padding: 16px;
  height: 100%;
  box-sizing: border-box;
}

.title {
  font-size: 18px;
  margin-right: 10px;
  font-weight: 300;
}

.groupWrappper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.topWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.groupTitle {
  font-weight: 800;
  font-size: 25px;
  letter-spacing: 0.95px;
  text-transform: uppercase;
}

.btn {
  text-transform: uppercase;
  font-size: 15px;
  padding: 15px 10px;
  border-radius: 5px;
  letter-spacing: 0.55px;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  border: none;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  transition: transform 0.2 ease-in;

  &:focus {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    background-color: #fcfcfc;
  }
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  height: 100%;
}

.balance {
  display: flex;
  align-items: center;
}

.balanceCount {
  font-size: 20px;
  font-weight: 400;
}

.debtors {
  margin-top: 30px;
}

.list {
  width: 100%;
  display: flex;
  margin-top: 10px;
  overflow-x: auto;
  gap: 7px;
}

.item {
  display: flex;
  align-items: center;
  background-color: #fff;
  min-width: 100px;
  height: 34px;
  border-radius: 7px;
  padding: 2px;

  img {
    border-radius: 50%;
  }
}

.name {
  width: 100%;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #222;
}

.debt,
.expenses {
  margin-top: 30px;
}

.expensesList {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  height: 340px;
  gap: 10px;
  overflow-y: auto;

  @media screen and (max-height: 800px) {
    height: 170px;
  }
}

.expensesItem {
  box-sizing: border-box;
  border-radius: 7px;
  min-height: 45px;
  width: 100%;
  padding: 10px 5px;
  background-color: #fff;
  color: #222;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
