.inactive {
  position: fixed;
  visibility: hidden;
}

.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  z-index: 999;
}

.modalBody {
  width: calc(100% - 30px);
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: white;
  z-index: 2;
  border-radius: 20px;
}

.closeButton {
  position: absolute;
  top: 23px;
  right: 18px;
  cursor: pointer;
  background: transparent;
  border: 0;
  padding: 0;
  z-index: 2;
}
