.createGroup {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 14px;
  box-sizing: border-box;
}

.formWrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.input {
  border: 1px solid grey;
  height: 40px;
  border-radius: 10px;
  outline: none;
}

.input:focus {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.createButton {
  border: 1px solid grey;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 70px;
}

.createButton:focus {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.heading {
  font-size: 24px;
  margin-bottom: 25px;
}

.labelName {
  margin-bottom: 10px;
}
