.createGroup {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 14px;
  box-sizing: border-box;
}

.formWrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.input {
  border: 1px solid grey;
  padding: 0 10px;
  font-size: 15px;
  line-height: 1;
  height: 35px;
  border-radius: 6px;
  outline: none;
}

.input:focus {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.createButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  border: 0;
}

.heading {
  font-size: 24px;
  margin-bottom: 25px;
}

.labelName {
  margin-bottom: 10px;
}
